<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{ post_name }}</title>
        <meta name="author" content="Josh Hess" />
        <meta name="description" content="{{ post_name }}" />
        <meta
            name="keywords"
            content="blog, mathematics, math, data, analysis, artificial intelligence"
        />
    </head>
    <body>
        <h1>{{ post_name.replace('-', ' ').title() }}</h1>
        <div>{{ content | safe }}</div>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </body>
</html>
